/* ---------------- FONTS ---------------- */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* ---------------- Reset ---------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------------- General Styles ---------------- */
:root {
  font-size: 62.5%;

  /* Website Theme */
  --primary-color: hsl(0, 0%, 100%);
  --secondary-color: hsl(0, 0%, 11%);
  --secondary-color-m: hsla(0, 0%, 11%, 0.4);
  --secondary-color-m-2: hsla(0, 0%, 11%, 0.9);
  --tertiary-color: hsl(0, 0%, 17%);
  --quarternary-color: hsl(0, 1%, 50%);

  /* Sizing */
  /* Dynamic: */
  --padding-d-l-h: calc(2rem + 12vw);
  --padding-d-l-v: calc(2rem + 12vh);

  --padding-d-mc-v: calc(1rem + 4vh);
  --padding-d-mc-h: calc(1rem + 4vw);

  --padding-d-m-v: calc(1rem + 2vh);
  --padding-d-m-h: calc(1rem + 2vw);

  --padding-d-s-v: calc(1rem + 1vh);
  --padding-d-s-h: calc(1rem + 1vw);

  /* Static: */
  --padding-st-l-h: 3rem;
  --padding-st-l-v: 2rem;

  --padding-st-m-h: 2.5rem;
  --padding-st-m-v: 1.5rem;

  --padding-st-s-h: 2rem;
  --padding-st-s-v: 1rem;

  /* Typography: */
  /* Dynmaic: */
  --font-size-d-lc: calc(3rem + 3.5vw);
  --font-size-d-l: calc(2rem + 3vw);
  --font-size-d-mc: calc(2rem + 2.5vw);
  --font-size-d-m: calc(1rem + 2vw);
  --font-size-d-sc: calc(1rem + 1.5vw);
  --font-size-d-s: calc(1rem + 1vw);

  /* Static: */
  --font-size-st-xl: 4rem;
  --font-size-st-lc: 3.5rem;
  --font-size-st-l: 3rem;
  --font-size-st-mc: 2.5rem;
  --font-size-st-m: 2rem;
  --font-size-st-sc: 1.5rem;
  --font-size-st-s: 1rem;

  /* Font Family: */
  --font-family-title: 'Oswald', sans-serif;
  --font-family-content: 'Plus Jakarta Sans', sans-serif;
}

body {
  background-color: var(--primary-color);
  font-family: var(--font-family-content);
  line-height: 1.6;
}

a {
  text-decoration: none;
  border-radius: 1rem;
}

li {
  list-style: none;
}

/* ---------------- Utility Classes ---------------- */
/* Section Padding */
.section__padding {
  padding: var(--padding-d-l-v) var(--padding-d-l-h);
}

/* Section Title */
.section__title {
  font-size: var(--font-size-d-sc);
  font-weight: 900;
}

/* Section Para */
.section__para {
  font-size: var(--font-size-st-sc);
  color: var(--quarternary-color);
}

/* ---------------- Overall Layout ---------------- */
.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(min-content, 12.5rem));
  grid-template-rows: repeat(9, min-content);
  justify-content: center;
}

.overall-layout {
  grid-column: 1/-1;
}

/* ---------------- Header ---------------- */
.header {
  display: flex;
  justify-content: space-between;

  background-color: var(--secondary-color);
  padding: var(--padding-d-m-v) var(--padding-d-l-h);

  position: relative;
}

.hamburger {
  position: fixed;
}

.header::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 50rem;
  background-color: var(--secondary-color);
  left: 0;
  bottom: -49.5rem;

  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 100%);
  z-index: -1;
}

.header__logo {
  font-size: var(--font-size-st-m);
  color: var(--primary-color);
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.header__nav a {
  font-size: var(--font-size-st-sc);
  color: var(--quarternary-color);
  transition: all 0.23s ease-in-out;
}

.header__nav a:first-child {
  color: var(--primary-color);
}

.header__nav a:hover {
  color: var(--primary-color);
}

/* ---------------- Hero ---------------- */
.hero {
  height: 80vh;
  display: flex;

  position: relative;
  align-items: center;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: 90%;
  z-index: -1;
}

.hero__bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero__content {
  flex-basis: 50%;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.hero__content--mini_title {
  color: var(--primary-color);
  font-size: var(--font-size-st-sc);
}

.hero__content--title {
  font-size: var(--font-size-d-l);
  color: var(--primary-color);
  text-transform: uppercase;
}

.hero__content--para {
  font-size: var(--font-size-st-m);
  color: var(--primary-color);
}

.hero__content--links {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.hero__content--links__my-works,
.hero__content--links__contact {
  flex-basis: 13rem;

  padding: var(--padding-st-s-v) var(--padding-st-m-h);
  border-radius: 5rem;
  font-size: var(--font-size-st-sc);
  text-align: center;
  transition: all 0.25s ease-in-out;
}

.hero__content--links__my-works {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.hero__content--links__my-works:hover {
  background: none;
  color: var(--primary-color);
}

.hero__content--links__contact {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.hero__content--links__contact:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

/* ---------------- Personal Info ---------------- */
.personal-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.personal-info__content {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-info__content--experience {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.personal-info__content--experience div {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.personal-info__content--experience div i {
  font-size: var(--font-size-st-sc);
  padding: var(--padding-st-m-v);

  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 50%;
}

.personal-info__img {
  flex-basis: 50%;
  position: relative;
}

.personal-info__img img {
  transition: all 0.25s ease-in-out;
}

.personal-info__img:hover img {
  transform: scale(0.96);
}

.personal-info__img::before,
.personal-info__img::after {
  content: '';
  position: absolute;
  z-index: -1;
}

.personal-info__img::before {
  background-image: url('./images/dot.png');
  width: 50%;
  height: 50%;
  top: -6%;
  left: -6%;
}

.personal-info__img::after {
  background-color: var(--secondary-color);
  height: 100%;
  width: 80%;
  top: 5%;
  right: -5%;
}

/* ---------------- My Services ---------------- */
.services {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* .services > p {
  padding: 0 var(--padding-d-l-h);
  text-align: center;
  margin-bottom: 5rem;
} */

.services__service-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 6rem;
  margin-top: 5rem;
}

.services__service-cards--card {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  /* padding: var(--padding-d-mc-v) 0; */
  padding: var(--padding-st-l-h) 0;
}

.services__service-cards--card i {
  font-size: var(--font-size-st-l);
}

.services__service-cards--card h3 {
  font-size: var(--padding-st-l-v);
}

.services__service-cards--card:nth-child(2n) {
  border-bottom: 1px solid var(--quarternary-color);
}

.services__service-cards--card:nth-child(2n + 1) {
  border-top: 1px solid var(--quarternary-color);
}

/* ---------------- News Section ---------------- */
.news {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.news__info--title {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: var(--padding-st-s-h);
}

.news__info--title::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 50%;
  background-color: var(--secondary-color-m);

  bottom: 0;
  left: 0;
}

.news__article {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, min-content);
}

.news__article--content {
  grid-column: 1/4;
  grid-row: 3/5;

  background-color: var(--primary-color);
  padding: var(--padding-st-l-h);

  display: flex;
  flex-direction: column;
  gap: 2rem;
  z-index: 1;
}

.news__article--content__mini-title {
  font-size: var(--font-size-st-s);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: var(--padding-st-s-v) var(--padding-st-s-v);

  align-self: start;
}

.news__article--content__title {
  font-size: var(--font-size-st-m);
}

.news__article--content div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--secondary-color-m);
  padding-top: var(--padding-st-s-h);
}

.news__article--content__link {
  font-size: var(--font-size-st-sc);
  color: var(--secondary-color);

  position: relative;
  padding-bottom: 1rem;
}

.news__article--content__link::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: var(--secondary-color);

  left: 0;
  bottom: 0;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
}

.news__article--content__link:hover::after {
  transform: scale(1);
  transform-origin: left;
}

.news__article--img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.6s ease-in-out;
}

.news__article--img {
  grid-column: 3/-1;
  grid-row: 1/-1;
}

.news__article--img:hover img {
  transform: scale(1.1);
}

/* ---------------- My Works ---------------- */
.my-works {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: var(--secondary-color);
}

.my-works__title {
  color: var(--primary-color);

  position: relative;
  padding-bottom: var(--padding-st-s-h);
}

.my-works__title::after {
  content: '';
  position: absolute;

  height: 1px;
  width: 50%;
  background-color: var(--quarternary-color);

  bottom: 0;
  left: 0;
}

.my-works ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.my-works ul a {
  transition: all 0.25s ease-in-out;
}

.my-works ul a:hover {
  color: var(--primary-color);
}

.my-works ul a:first-child {
  color: var(--primary-color);
}

.my-works__imgs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);

  gap: 2rem;
}

.my-works__imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.my-works__imgs figure:first-child {
  grid-column: 1/2;
  grid-row: 1/3;
}

.my-works__imgs figure:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}

.my-works__imgs figure:nth-child(3) {
  grid-column: 3/-1;
  grid-row: 1/3;
}

.my-works__imgs figure:nth-child(4) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.my-works__imgs figure:nth-child(5) {
  grid-column: 2/3;
  grid-row: 2/4;
}

.my-works__imgs figure:nth-child(6) {
  grid-column: 3/-1;
  grid-row: 3/4;
}

.my-works__imgs figure:nth-child(7) {
  grid-column: 1/2;
  grid-row: 4/-1;
}

.my-works__imgs figure:nth-child(8) {
  grid-column: 2/3;
  grid-row: 4/-1;
}

.my-works__imgs figure:nth-child(9) {
  grid-column: 3/-1;
  grid-row: 4/-1;
}

.my-works__imgs figure {
  position: relative;
}

.my-works__imgs figure::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  background-color: var(--secondary-color-m);
  transition: all 0.25s ease-in-out;
}

.my-works__imgs figure:hover::before {
  background: none;
}

/* ---------------- Contact ---------------- */
.contact {
  background-image: url(./images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

.contact__info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact__info--title {
  font-size: var(--font-size-st-mc);
  color: var(--primary-color);
}

.contact__info--link {
  padding: var(--padding-st-s-v) var(--padding-st-m-h);
  border-radius: 5rem;
  font-size: var(--font-size-st-sc);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  align-self: flex-start;
  transition: all 0.25s ease-in-out;
}

.contact__info--link:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.contact__testimonial {
  flex-basis: 50%;

  background-color: var(--secondary-color-m);
  padding: var(--padding-d-mc-v) var(--padding-d-mc-h);

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact__testimonial--info {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  justify-content: center;
}

.contact__testimonial--info__img {
  height: 10rem;
  width: 10rem;
}

.contact__testimonial--info__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contact__testimonial--info__name {
  font-size: var(--font-size-st-sc);
  color: var(--primary-color);
}
.contact__testimonial--info__role {
  font-size: var(--font-size-st-s);
  color: var(--quarternary-color);
}

.contact__testimonial--para {
  border-left: 1px solid var(--quarternary-color);
  padding-left: var(--padding-st-l-h);
  text-align: justify;
}

/* ---------------- Client ---------------- */
.client {
  background-color: var(--secondary-color);

  display: flex;
  justify-content: space-between;
  padding: 0 var(--padding-d-l-h);

  height: calc(2rem + 10vh);
}

.client img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ---------------- Footer ---------------- */
.footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  background: linear-gradient(
      to bottom,
      var(--secondary-color-m-2),
      var(--secondary-color-m-2)
    ),
    url(./images/footer-bg.jpg);

  background-position: center;
  background-size: cover;
  padding-bottom: 4rem;
}

.footer__newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer__newsletter--content {
  flex-basis: 50%;
}

.footer__newsletter--content__title {
  font-size: var(--font-size-st-mc);
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.footer__newsletter--form {
  display: flex;
  flex-basis: 50%;
}

.footer__newsletter--form input {
  background: none;
  border: none;
  outline: none;
  padding: var(--padding-st-m-v) var(--padding-st-m-h);
  font-size: var(--font-size-st-sc);
}

.footer__newsletter--form input[type='email'] {
  border: 1px solid var(--quarternary-color);
  border-right: none;
  border-radius: 4rem 0 0rem 4rem;
  color: var(--primary-color);

  flex-grow: 1;
}

.footer__newsletter--form input[type='submit'] {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 0 4rem 4rem 0;

  flex-grow: 1;
}

.footer__author {
  display: flex;
  align-items: center;
  gap: 4rem;

  border-top: 1px solid var(--tertiary-color);
  border-bottom: 1px solid var(--tertiary-color);
}

.footer__author--info,
.footer__author--quick-links,
.footer__author--contact {
  padding: var(--padding-st-l-h) var(--padding-st-m-h) var(--padding-st-l-h) 0;

  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer__author--info {
  flex-basis: 33%;
  position: relative;
  /* border-right: 1px solid var(--tertiary-color); */
}

.footer__author--info::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  background-color: var(--tertiary-color);
}

.footer__author--quick-links {
  flex-basis: 33%;
  position: relative;
  /* border-right: 1px solid var(--tertiary-color); */
}

.footer__author--quick-links::after {
  content: '';
  position: absolute;
  top: var(--padding-st-l-h);
  bottom: var(--padding-st-l-h);
  right: 0;
  width: 1px;
  background-color: var(--tertiary-color);
}

.footer__author--contact {
  flex-basis: 33%;
}

.footer__author--quick-links__title,
.footer__author--contact__title {
  color: var(--primary-color);
  font-size: var(--font-size-st-m);
}

.footer__author--quick-links__container,
.footer__author--contact__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.footer__author--contact__container div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.footer__copy-rights {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__copy-rights--social {
  display: flex;
  gap: 1.5rem;
}

/* ---------------- Media Queries ---------------- */
@media screen and (max-width: 520px) {
  /* Carousel */
  .carousel {
    display: grid;
    grid-auto-flow: column;
    scroll-behavior: auto;
    gap: 1.7rem;
    overflow-y: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .my-works__img--card {
    scroll-snap-align: start;
    min-height: 200px;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Footer */
  .footer__author {
    row-gap: 0rem;
    align-items: center;
    justify-content: space-between !important;
  }

  .footer__newsletter--form {
    flex-direction: column;
    width: 100%;
    row-gap: 1.5rem;
  }

  .footer__newsletter--form input {
    border-radius: 4rem !important;
    width: 85%;
    align-self: center;
  }
}

@media screen and (max-width: 900px) {
  /* Complete override of container and layout for mobile */
  .container {
    display: block;
    width: 100vw;
    max-width: 100vw;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .overall-layout {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  /* Section Padding: Force consistent padding */
  .section__padding {
    padding: var(--padding-d-l-v) 2rem;
  }

  /* Header */
  .header {
    padding: var(--padding-d-m-v) 2rem;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  .header::after {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .header__nav {
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;

    background-color: var(--secondary-color-m-2);
    height: 100vh;
    padding: 8rem;
    transition: all 0.5s ease-in-out;

    transform: translateX(500rem);

    z-index: 9;
  }

  .hero {
    height: 90vh;
    width: 100%;
    max-width: 100vw;
    padding: var(--padding-d-m-v) 2rem;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  .hero__bg {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }

  /* Hamburger Menu */
  .hamburger {
    height: 6rem;
    width: 8rem;
    background-color: var(--secondary-color-m-2);
    padding: var(--padding-st-s-v);

    top: 1rem;
    right: 2rem;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    z-index: 10;
  }

  .hamburger__line {
    height: 2px;
    background-color: var(--primary-color);
  }

  .hamburger__line:first-child {
    width: 50%;
    transition: all 0.25s ease-in-out;
  }

  .hamburger__line:last-child {
    width: 50%;
    align-self: flex-end;
    transition: all 0.25s ease-in-out;
  }

  .hamburger__line:nth-child(2) {
    transition: all 0.1s ease-in-out;
  }

  /* Dynamic Classes */
  .hamburger__line-1 {
    transform: rotate(45deg) translateX(1.7rem) translateY(-0.2rem);
  }
  .hamburger__line-3 {
    transform: rotate(-45deg) translateX(-0.2rem) translateY(-2.1rem);
  }

  .hamburger__line-2 {
    visibility: hidden;
  }

  .display__nav {
    transform: translateX(0);
  }

  /* ---------------- Hero ---------------- */
  .hero__content {
    flex-basis: auto;
  }

  /* ---------------- Personal Info ---------------- */
  .personal-info {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
  }

  .personal-info__content,
  .personal-info__img {
    flex-basis: 100%;
  }

  .personal-info__img {
    display: flex;
    justify-content: center;
  }

  .personal-info__img img {
    height: 86%;
    width: 86%;
  }

  .personal-info__img::before {
    top: -7%;
    left: 1%;
  }

  .personal-info__img::after {
    background-color: var(--secondary-color);
    height: 100%;
    width: 50%;
    top: 6%;
    right: 1%;
  }

  .section__title {
    font-size: var(--font-size-st-mc);
  }

  /* ---------------- Services ---------------- */
  .services {
    width: 100%;
    max-width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .services__service-cards {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    margin-top: 0;
  }

  .services__service-cards--card {
    border: none !important;
  }

  .services__para {
    border-bottom: 1px solid var(--quarternary-color);
    padding-bottom: 4rem;
  }

  .services {
    row-gap: 2rem;
  }

  /* ---------------- News ---------------- */
  .news__article--content {
    background-color: var(--secondary-color-m-2);
    grid-column: 1/-1;
  }

  .news__article--img {
    grid-column: 1/-1;
  }

  .news__article--content__mini-title,
  .news__article--content__link::after {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .news__article--content__title,
  .news__article--content__link {
    color: var(--primary-color);
  }

  /* ---------------- My Works ---------------- */
  .my-works {
    width: 100%;
    max-width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  /* ---------------- Contact ---------------- */
  .contact {
    flex-wrap: wrap;
    width: 100%;
    max-width: 100vw;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .contact__info,
  .contact__testimonial {
    flex-basis: 100%;
  }

  /* ---------------- Client ---------------- */
  .client {
    width: 100%;
    max-width: 100vw;
    padding: 0 2rem;
    box-sizing: border-box;
    overflow-y: hidden;
  }

  /* ---------------- Footer ---------------- */
  .footer {
    width: 100%;
    max-width: 100vw;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    box-sizing: border-box;
  }

  .footer__newsletter {
    flex-wrap: wrap;
  }

  .footer__newsletter--content,
  .footer__newsletter--form {
    flex-basis: auto;
  }

  .footer__author {
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer__author--info,
  .footer__author--quick-links,
  .footer__author--contact {
    flex-basis: auto;
    border: none;
  }

  .footer__copy-rights {
    flex-wrap: wrap;
  }

  .footer__author--quick-links::after,
  .footer__author--info::after {
    display: none;
  }
}

@media screen and (max-width: 1164px) {
  .footer__author--quick-links::after,
  .footer__author--info::after {
    display: none;
  }
}
